<!--
Panel for displaying contacts in an editable table.

Requires: "cogroup" object.

Reviewed: 2015, Sep 14
-->
<div id="contacts panel" class="panel panel-success" data-bind="with: contactsVM">
    <div class="panel-heading">
        <div class="panel-title">
            <h2><strong>聯絡人</strong></h2>
        </div>
    </div>
    <div class="panel-body" style="padding: 0px">
        <table class="table table-condensed table-striped">
            <thead class="text-uppercase">
                <tr>
                    <th>分公司</th>
                    <th>職位 / 姓名</th>
                    <th>電話 / CELL / 傳真</th>
                    <th>Email / 備註</th>
                    <th>修改</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: contacts">
                <tr>
                    <td style="width: 10%">
                        <select class="form-control" data-bind="options: $root.branchNames, textInput: branch"></select>
                    </td>
                    <td style="width: 20%">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="fa fa-fw fa-lg fa-user"></span>
                            </div>
                            <input class="form-control" size="4" placeholder="name" data-bind="textInput: name">
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="fa fa-fw fa-lg fa-briefcase"></span>
                            </div>
                            <input class="form-control" size="5" placeholder="position" data-bind="textInput: position">
                        </div>
                    </td>
                    <td style="width: 30%">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="fa fa-fw fa-lg fa-phone"></span>
                            </div>
                            <input class="form-control" placeholder="phone" style="width: 100%;" data-bind="textInput: phone">
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-phone fa-fw fa-lg"></span>
                            </div>
                            <input class="form-control" placeholder="cell" style="width: 100%;" data-bind="textInput: cell">
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="fa fa-fw fa-lg fa-fax"></span>
                            </div>
                            <input class="form-control" placeholder="fax" style="width: 100%;" data-bind="textInput: fax">
                        </div>

                    </td>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope fa-fw fa-lg"></span>
                            </div>
                            <input class="form-control" placeholder="email" style="width: 100%;" data-bind="textInput: email">
                        </div>
                        <textarea class="form-control" rows="2" placeholder="note" style="width: 100%;" data-bind="textInput: note"></textarea>
                    </td>
                    <td>
                        <div class="btn-group-vertical btn-group-sm">
                            <button class="btn btn-primary" data-bind="click: $parent.saveContact, disable: saved"><span class="glyphicon glyphicon-save"></span>
                            </button>
                            <button class="btn btn-danger" data-bind="click: $parent.removeContact, enable: saved"><span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer lightorange-blend text-center">
        <button class="btn btn-lg darkgreen-blend" data-bind="click: addContact">Add contact</button>
    </div>
</div>

<script><%- partial ('panel.viewmodel.js') %></script>