<!--Table view of companies-->
<div>
    <table class="table table-condensed table-striped">
        <thead class="text-uppercase">
            <tr>
                <th></th>
                <th>ID</th>
                <th>Save/Del</th>
                <th>公司</th>
                <th>內用名稱</th>
                <th>標籤名稱</th>
                <th>discontinued</th>
                <th>is supply</th>
                <th>unit priced</th>
                <th>英文名稱</th>
                <th>Current Price</th>
                <th>units</th>
                <th>UM</th>
                <th>SKU</th>
                <th>SKU description</th>
                <th>JSON</th>
                <th>ASE_PN</th>
                <th>ASE_RT</th>
                <th>note</th>
            </tr>
        </thead>
    <!--    <tbody data-bind="foreach: cogroups">-->
        <tbody data-bind="foreach: products">
            <tr onclick="highlightRow(this)">
                <td>
                    <badge class="badge" data-bind="text: $index() + 1"></badge>
                </td>
                <td>
                    <span data-bind="text: id"></span>
                </td>
                <td>
                    <span class="btn-group btn-group-sm" style="width: 140px">
                        <button class="btn btn-primary" style="width: 50%; padding: 2px 6px; font-size: 14px; font-weight: bold" data-bind="click: save_product">Save</button>
                        <button class="btn btn-danger" style="width: 50%; padding: 2px 6px; font-size: 14px; font-weight: bold" data-bind="click: del_product">Del</button>
                    </span>
                </td>
                <td>
                    <span class="btn-group btn-group-sm" style="width: 100px">
                        <button class="btn btn-custom" style="width: 100%; padding: 2px 6px; font-size: 14px; font-weight: bold" data-bind="click: goto_cogroup, text: group"></button>
                    </span>
                </td>
                <td><input type="text" placeholder="inventory_name" data-bind="textInput: inventory_name"></td>
                <td><input type="text" placeholder="product_label" data-bind="textInput: product_label"></td>
                <td><label style="width: 120px"><input type="checkbox" data-bind="checked: discontinued"> discontinued</label></td>
                <td><label style="width: 100px"><input type="checkbox" data-bind="checked: is_supply"> is_supply</label></td>
                <td><label style="width: 100px"><input type="checkbox" data-bind="checked: unitpriced"> unitpriced</label></td>
                <td><input type="text" placeholder="english_name" data-bind="textInput: english_name"></td>
                <td><input type="text" placeholder="curr_price" data-bind="textInput: curr_price"></td>
                <td><input type="text" placeholder="units" data-bind="textInput: units"></td>
                <td><input type="text" placeholder="UM" data-bind="textInput: UM"></td>
                <td><input type="text" placeholder="SKU" data-bind="textInput: SKU"></td>
                <td><input type="text" placeholder="SKUlong" data-bind="textInput: SKUlong"></td>
                <td><input type="text" placeholder="json" data-bind="textInput: ko.toJSON(json)" disabled></td>
                <td><input type="text" placeholder="ASE_PN" data-bind="textInput: ASE_PN"></td>
                <td><input type="text" placeholder="ASE_RT" data-bind="textInput: ASE_RT"></td>
                <td><input type="text" placeholder="note" data-bind="textInput: note"></td>
            </tr>
        </tbody>
    </table>
</div>

<script>
var products = ko.mapping.fromJS(<%- JSON.stringify(products) %>);
var check_length = <%= length %>;
// Verify that parsed JSON data matches the transmitted length value.
if (products().length !== check_length) {
    alert(products().length + ' !== ' + check_length + '\nData length check failed!');
}
var _csrf = '<%= _csrf %>';
console.log(products()[0]);
var goto_cogroup = function (product) {
    window.location = '/product/showall/' + product.group();
};

// Reference to active/clicked row
var active_row = null;
/**
 * Highlight table row by changing background color of each cell.
 * @param {Object} tr_el The HTML <tr> element to iterate over
 */
var highlightRow = function (tr_el) {
    // Clear highlighting of previous row
    for(var i = 0; active_row && i < active_row.children.length; i++) {
        active_row.children[i].style.removeProperty("background-color");
    }
    // Change saved reference to active row
    active_row = tr_el;
    // Add highlighting to new row
    for(var i = 0; i < active_row.children.length; i++) {
        active_row.children[i].style.backgroundColor = 'yellow';
    }
};

var save_product = function (product) {
    console.log('save_product', ko.toJS(product));
    var obj = ko.toJS(product);
    var params = {
        _csrf: _csrf,
        id: obj.name,
        product: obj
    };
    post('/database/update/product', params, function(response) {
        console.log(response);
        alert(ko.toJSON(response));
    });
};

var del_product = function (product) {
    console.log('del_product', ko.toJS(product));
    var obj = ko.toJS(product);
    var params = {
        _csrf: _csrf,
        id: obj.name
    };
    post('/database/destroy/product', params, function(response) {
        console.log(response);
        alert(ko.toJSON(response));


    });
};
</script>
