<!DOCTYPE html>
<html>

<head>
    <% if (res.locals.cogroup !== undefined) { %>
    <title><%= cogroup.name %></title>
    <% } else { %>
    <title>台茂化工儀器原料行</title>
    <% } %>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>-->

    <!--
        Stylesheets and Preprocessors
        ==============================
        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/customD3.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
</head>

<body id="body">
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap/collapse.js"></script>
    <script src="/js/bootstrap/dropdown.js"></script>
    <script src="/js/bootstrap/modal.js"></script>
    <script src="/js/bootstrap/tooltip.js"></script>
    <script src="/js/bootstrap/transition.js"></script>
    <script src="/js/d3.js"></script>
    <script src="/js/d3_barchart.js"></script>
    <script src="/js/imageUri.js"></script>
    <script src="/js/jsPDF/FileSaver.min.js"></script>
    <script src="/js/jsPDF/jspdf.js"></script>
    <script src="/js/jsPDF/plugins/addimage.js"></script>
    <script src="/js/jsPDF/plugins/alttext.js"></script>
    <script src="/js/knockout-3.2.0.js"></script>
    <script src="/js/knockout.mapping-latest.js"></script>
    <script src="/js/ko_ajax.js"></script>
    <script src="/js/ko_extenders.js"></script>
    <script src="/js/ko_models.js"></script>
    <script src="/js/utils.js"></script>
    <!--SCRIPTS END-->
    
    <!-- Initialize global website viewmodel -->
    <script><%- partial ('main.viewmodel.js') %></script>


    <!--vvv START: Navigation sidebar and buttons vvv-->
    <div id="sidebar-wrapper">
        <%- partial ('sidebar.ejs') %>
    </div>
    <!--^^^ END: Navigation sidebar and buttons ^^^-->

    <div id="page-content-wrapper" style="height: 100%">
        <%- body %>
    </div>


    <!--
    Client-side Templates
    ========================

    HTML templates are important prerequisites of modern, rich client applications.
    To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
    that you load these templates client-side.

    By default, your Gruntfile is configured to automatically load and precompile
    client-side JST templates in your `assets/templates` folder, then
    include them here automatically (between TEMPLATES and TEMPLATES END).

    To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
    For example, here are a few things you could do:

        + Import templates from other directories
        + Use a different template engine (handlebars, jade, dust, etc.)
        + Internationalize your client-side templates using a server-side
          stringfile before they're served.
-->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
</body>

</html>
