<!--
TODO:
    Add editable fields to all cells that are enabled during editing
    Add modal that pops up when rows are selected and Enter key pressed
    Add a way to add new PO and a way to copy existing PO as a new one
    Add delete option
    Add way to see manifest list. maybe popup when mouseover delivered amt.
-->
<table class="table table-condensed table-striped table-bordered"
       data-bind="with: OrdersVM">
    <thead>
        <th>選</th>
        <th>日期</th>
        <th>賣家</th>
        <th>買主</th>
        <th>PO#</th>
        <th>品名</th>
        <th>訂量</th>
        <th>剩量</th>
        <th>價格</th>
        <th>納稅</th>
        <th>備註</th>
    </thead>
    <tbody data-bind="foreach: orders">
        <tr data-bind="click: function (data, event) { $parent.rowClick(event, $index()); return true; },
                       css: {'highlight-row': $parent.selectedRows[$index()]},
                       attr: {id: 'rec-' + $index()}">
            <td style="width: 2em">
                <div class="dropdown">
                    <button class="btn btn-custom btn-xs dropdown-toggle"
                            data-bind="attr: {id: 'dropdown' + $index()},
                                       visible: !$parent.editingRows[$index()]()"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"
                            role="button">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu"
                        data-bind="attr: {'aria-labelledby': 'dropdown' + $index()}">
                        <div class="btn-group-vertical">
                            <button class="btn btn-success" style="text-align: left"
                                data-bind="click: function (data) { $parent.editButton($index(), data); }">
                                <i class="fa fa-pencil-square-o fa-fw"></i> 編輯訂單
                            </button>
                            <li class="btn btn-success" style="text-align: left">
                                <i class="fa fa-list-alt fa-fw"></i> 看出貨單
                            </li>
                            <li class="btn btn-success" style="text-align: left" data-bind="visible: !is_open()">
                                <i class="fa fa-refresh fa-fw"></i> 在開啟訂單
                            </li>
                            <li class="btn btn-success" style="text-align: left" data-bind="visible: is_open">
                                <i class="fa fa-ban fa-fw"></i> 結束訂單並歸檔
                            </li>
                            <li class="btn btn-success" style="text-align: left">
                                <i class="fa fa-files-o fa-fw"></i> 複製舊訂單
                            </li>
                            <li class="btn btn-danger" style="text-align: left">
                                <i class="fa fa-trash fa-fw"></i> 刪除訂單
                            </li>
                        </div>
                    </div>
                </div>
                <div class="btn-group-vertical btn-group-sm"
                     data-bind="visible: $parent.editingRows[$index()]">
                    <button class="btn btn-danger"
                            data-bind="click: $parent.editCancelButton($index())">
                        <i class="fa fa-ban fa-lg"></i>
                    </button>
                    <button class="btn btn-primary"
                            data-bind="attr: {onclick: 'viewModel.OrdersVM.editSaveButton(this,' + $index() + ')'}">
                        <i class="fa fa-floppy-o fa-lg"></i>
                    </button>
                </div>
            </td>
            <td input="orderdate">
                <div data-bind="text: $root.formatDate(orderdate())"></div>
                <input class="form-control" type="text" style="width: 10em"
                       data-bind="attr: {value: (new Date(orderdate())).toLocaleDateString()},
                                  visible: $parent.editingRows[$index()]">
            </td>
            <td data-bind="text: seller"></td>
            <td data-bind="text: buyer"></td>
            <td input="orderID">
                <div data-bind="text: orderID"></div>
                <input class="form-control" type="text" style="width: 10em"
                       data-bind="attr: {value: orderID()},
                                  visible: $parent.editingRows[$index()]">
            </td>
            <td data-bind="text: MPN.inventory_name"></td>
            <td input="qty" align="right">
                <div data-bind="text: qty"></div>
                <input class="form-control text-right" type="number" style="width: 8em"
                       data-bind="attr: {value: qty()},
                                  visible: $parent.editingRows[$index()]">
            </td>
            <td align="right">
                <div data-bind="text: null"></div>
            </td>
            <td input="price" align="right">
                <div data-bind="text: '$' + price()"></div>
                <input class="form-control text-right" type="number" style="width: 8em"
                       data-bind="attr: {value: price()},
                                  visible: $parent.editingRows[$index()]">
            </td>
            <td input="applytax">
                <div data-bind="html: applytax() ? '<i class=\'fa fa-lg fa-check-square-o\'></i>' : '<i class=\'fa fa-lg fa-square-o\'></i>'"></div>
                <input class="form-control" type="checkbox"
                       data-bind="checked: applytax(),
                                  visible: $parent.editingRows[$index()]">
            </td>
            <td input="ordernote">
                <div data-bind="text: ordernote"></div>
                <input class="form-control" type="text" style="width: 20em"
                       data-bind="attr: {value: ordernote()},
                                  visible: $parent.editingRows[$index()]">
            </td>
        </tr>
    </tbody>
</table>

<script><%- partial ('viewmodel.js') %></script>
