<!-- Modal: Help page -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal">
    <div class="modal-dialog" role="document">
        <div class="panel">
            <div class="modal-header text-center lightgreen-blend">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">幫忙視窗</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>F1</strong></td>
                            <td>開啓幫忙視窗</td>
                        </tr>
                        <tr>
                            <td><strong>Ctrl + 左鍵(Left Click)</strong></td>
                            <td>選擇幾項紀錄 (會變黃色)</td>
                        </tr>
                        <tr>
                            <td><strong>Enter</strong></td>
                            <td>開啓創造出貨單的視窗<br>(沒有選擇就開啓幫忙視窗)</td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-custom btn-xs">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </td>
                            <td>動作選單</td>
                        </tr>
                        <tr>
                            <td><label class="badge">####</label></td>
                            <td>資料庫內建的紀錄號碼<br>(沒有PO#就會表示)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer text-center lightgreen-blend">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
