<!--START: List view of shipments-->
<div data-bind="with: StatusVM">
    <div>
        <div class="panel panel-success">
            <div id="showall-p-head" class="panel-heading" style="padding: 5px 0px 0px 0px; position: fixed; z-index: 10;">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="h4" style="margin: 0px">Shipments</span>
                    </div>

                    <div class="col-xs-3">
                        <div class="input-group">
                            <div class="input-group-addon">表示從</div>
                            <input class="form-control" type="date" data-bind="textInput: dateStart">
                            <div class="input-group-addon">到現在的紀錄</div>
                        </div>

                    </div>
                </div>
                <table id="showall-th" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">訂單編號</th>
                            <th class="text-center">單據號碼</th>
                            <th class="text-center">回</th>
                            <th class="text-center">公司</th>
                            <th class="text-center">產品/服務</th>
                            <th class="text-center">QTY</th>
                            <th class="text-center">出貨日期</th>
                            <th class="text-center">司機</th>
                            <th class="text-center">發票編號</th>
                            <th class="text-center">付錢</th>
                        </tr>
                    </thead>
                </table>

            </div>
            <div id="showall-p-body" class="panel-body" style="padding: 0px">
                <table id="showall-td" class="table table-striped table-bordered">
                    <tbody data-bind="foreach: shipmentsItems">
                        <tr>
                            <td style="padding: 3px 3px"
                                class="text-center">
                                <a style="padding: 2px; width: 100%"
                                   class="btn btn-custom"
                                   data-bind="attr: {href: '/order/show/' + order_id}">
                                    <strong data-bind="text: orderID"></strong>
                                    <span class="badge"
                                          data-bind="visible: !orderID || $parent.debug, text: order_id"></span>
                                </a>
                            </td>
                            <td style="padding: 3px 3px"
                                class="text-center">
                                <button style="padding: 2px; width: 100%" class="btn btn-custom"
                                   data-bind="click: $parent.open_shipment_pdf">
                                    <strong data-bind="text: shipment_no"></strong>
                                    <span class="badge"
                                          data-bind="visible: !shipment_no || $parent.debug, text: shipment_id"></span>
                                </button>
                            </td>
                            <td style="padding: 3px 3px; border-left: solid 2px #532929;" class="text-center has-success">
                                <button class="btn btn-sm"
                                        data-bind="click: $parent.toggleChecked,
                                                   css: {'btn-success': checked(), 'btn-default': !checked()}">
                                    <span class="fa fa-question fa-fw fa-lg"
                                          data-bind="visible: !checked()"></span>
                                    <span class="fa fa-check fa-fw fa-lg"
                                          data-bind="visible: checked"></span>
                                </button>
                            </td>
                            <td data-bind="text: group"></td>
                            <td data-bind="text: inventory_name"></td>
                            <td style="padding: 3px 3px; width: 120px">
                                <div class="input-group has-success">
                                    <input class="form-control text-right" size="40" data-bind="disable: invoice_no, value: qty_ko">
                                    <div class="input-group-addon" data-bind="text: countUnit"></div>
                                </div>
                            </td>
                            <td style="padding: 3px 3px" class="text-center"><span data-bind="text: date"></span></td>
                            <td style="padding: 3px 3px" class="text-center has-success">
                                <input class="form-control" size="1" maxlength="4" data-bind="value: driver">
                            </td>

                            <td style="padding: 3px 3px; border-left: solid 2px #532929;" class="text-center">
                                <button disabled style="padding: 2px; width: 100%" class="btn btn-custom" data-bind="visible: invoice_no, click: $parent.view_invoice"><strong data-bind="text: invoice_no"></strong> <span class="badge" data-bind="visible: !invoice_no || $parent.debug, text: invoice_id"></span></button>
                            </td>
                            <td style="padding: 3px 3px" class="text-center" data-bind="style: {backgroundColor: paid ? null : 'pink'}">
                                <font color="orange"><i class="fa fa-usd" data-bind="visible: paid"></i></font>
                                <span data-bind="text: paid ? 'Yes' : 'No'"></span>
                                <i class="fa fa-question fa-spin" data-bind="visible: !paid"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--END: List view of shipments-->

<script><%- partial ('status.viewmodel.js') %></script>
