<div class="panel panel-success" style="height: 100%; margin: 0px" data-bind="with: ReportsVM">
    <div class="panel-heading">
        <div class="panel-title">
            <h2><strong>PDF 報告</strong></h2>
        </div>
    </div>
    <div class="panel-body">
        <h3>Activity Report <small>出貨期間報告</small></h3>
        <div class="row">
            <div class="col-sm-4 col-md-3 form-group">
                <label for="arStartDate">開始日期</label>
                <input type="date" class="form-control" id="arStartDate" data-bind="value: arStartDate_ko">
            </div>
            <div class="col-sm-4 col-md-3 form-group">
                <label for="arEndDate">結束日期</label>
                <input type="date" class="form-control" id="arEndDate" data-bind="value: arEndDate_ko">
            </div>
            <div class="col-sm-4 col-md-3 form-group">
                <div data-bind="visible: show_working_ko" style="padding-top: 28px">
                    <i class="fa fa-2x fa-cog fa-spin"></i>
                    <span class="h3">Updating PDF</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <h4><strong>台茂分公司</strong></h4>
                <div class="radio">
                    <label>
                        <input type="radio" name="taimao_koRadios"
                               value="台茂化工儀器原料行"
                               data-bind="checked: taimao_ko">
                        台茂化工儀器原料行
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="taimao_koRadios"
                               value="富茂工業原料行"
                               data-bind="checked: taimao_ko">
                        富茂工業原料行
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="taimao_koRadios"
                               value="永茂企業行"
                               data-bind="checked: taimao_ko">
                        永茂企業行
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="taimao_koRadios"
                               value=""
                               data-bind="checked: taimao_ko">
                        <input type="text" placeholder="空白 (輸入別的題目)"
                               data-bind="value: altTitle_ko">
                    </label>
                </div>
                <h4>
                    <strong>
                        選項
                    </strong>
                </h4>
                <div>
                    <label class="checkbox-inline" style="margin-left: 10px">
                        <input type="checkbox"
                               data-bind="checked: include_clientname_ko">
                        <span>顯示客戶</span>
                    </label>
                    <label class="checkbox-inline" style="margin-left: 10px">
                        <input type="checkbox"
                               data-bind="checked: include_totals_ko">
                        <span>顯示價格總計</span>
                    </label>
                    <label class="checkbox-inline" style="margin-left: 10px">
                        <input type="checkbox"
                               data-bind="checked: item_subtotals_ko">
                        <span>顯示產品總計 (下一頁)</span>
                    </label>
                </div>
                <h4><strong>列</strong> <small>取消"出貨單號",加品名的空間</small></h4>
                <div data-bind="foreach: headers_ko">
                    <label class="checkbox-inline" style="margin-left: 10px">
                        <input type="checkbox"
                               data-bind="checked: selected_ko">
                        <span data-bind="text: name"></span>
                    </label>
                </div>
                <h4>
                    <strong>
                        產品
                    </strong>
                </h4>
                    <div class="btn-group">
                        <button type="button" value="進" class="btn btn-default"
                               data-bind="click: jinchu_ko('進')">
                            <span>進貨</span>
                        </button>
                        <button type="button" value="出" class="btn btn-default"
                               data-bind="click: jinchu_ko('出')">
                            <span>出貨</span>
                        </button>
                        <button type="button" value="all" class="btn btn-default"
                               data-bind="click: jinchu_ko('all')">
                            <span>全部</span>
                        </button>
                    </div>
                <div data-bind="foreach: availableProducts_ko">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   data-bind="checked: selected_ko">
                            <span data-bind="text: name"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-9">
                <iframe id="preview-pane" type="application/pdf"
                        width="100%" height="800" frameborder="10"
                        style="position:relative; z-index:999">
                </iframe>
            </div>
        </div>
<!--        <button class="btn btn-success" data-bind="enable: download_ready_ko, click: ar_create">創造報告</button>-->

    </div>
    <div class="panel-footer lightorange-blend text-center" style="position: relative; bottom: 0px">


    </div>
</div>
<script><%- partial ('index.viewmodel.js') %></script>