<div class="container">
<div class="row" style="text-align: center">
    <form action="/branch/create" method="post" class="branch-edit">
        <h2>Add branch company - <%= cogroup.name %></h2>
        <input type="hidden" class="form-control" name="group" value="<%= cogroup.name %>">
        
        <div class="row vcenter"><div class="col-md-2">縮寫(ID)</div><div class="col-md-10"><input type="text" class="form-control" placeholder="UNIQUE SHORT NAME" name="name"></div></div>
        <div class="row vcenter"><div class="col-md-2">中文名稱</div><div class="col-md-10"><input type="text" class="form-control" placeholder="CHINESE FULL NAME" name="fullname"></div></div>
        <div class="row vcenter"><div class="col-md-2">英文名稱</div><div class="col-md-10"><input type="text" class="form-control" placeholder="ENGLISH FULL NAME" name="english_name"></div></div>
        <div class="row vcenter"><div class="col-md-2">統一編號</div><div class="col-md-10"><input type="text" class="form-control" placeholder="TAX ID" name="tax_id"></div></div>
        <div class="row vcenter"><div class="col-md-2">電話</div><div class="col-md-10"><input type="text" class="form-control" placeholder="PHONE" name="phone"></div></div>
        <div class="row vcenter"><div class="col-md-2">傳真</div><div class="col-md-10"><input type="text" class="form-control" placeholder="FAX" name="fax"></div></div>
        <div class="row vcenter"><div class="col-md-2">電子郵件</div><div class="col-md-10"><input type="text" class="form-control" placeholder="EMAIL" name="email"></div></div>
        <div class="row vcenter"><div class="col-md-2">辦公室地址</div><div class="col-md-10"><input type="text" class="form-control" placeholder="OFFICE ADDRESS" name="address_office"></div></div>
        <div class="row vcenter"><div class="col-md-2">送貨地址</div><div class="col-md-10"><input type="text" class="form-control" placeholder="SHIPPING ADDRESS" name="address_shipping"></div></div>
        <div class="row vcenter"><div class="col-md-2">送發票地址</div><div class="col-md-10"><input type="text" class="form-control" placeholder="BILLING ADDRESS" name="address_billing"></div></div>
        <div class="row vcenter"><div class="col-md-2">備註</div><div class="col-md-10"><input type="text" class="form-control" placeholder="NOTE" name="note"></div></div>
        
<div class="row vcenter"><div class="col-md-6">
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="CREATE" /></div>
    <div class="col-md-6">
    <input type="cancel" class="btn btn-lg btn-danger btn-block" value="CANCEL" onclick="javascript:window.location='../../cogroup/show/<%= cogroup.name %>'"/>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" /></div></div>
        

    </form>
</div>
    </div>