<!--
Panel for displaying branches in an editable table.

Requires: "cogroup" object.

Reviewed: 2015, Sep. 14
-->
<div id="branch panel" class="panel panel-success" data-bind="with: branchesVM">
    <div class="panel-heading">
        <div class="panel-title">
            <h2><strong>分公司</strong></h2>
        </div>
    </div>
    <div class="panel-body" style="padding: 0px">
        <table class="table table-condensed table-striped">
            <thead class="text-uppercase">
                <tr>
                    <th>
                        <div class="row">
                            <div class="col-md-6">
                                縮寫 / 統一編號 / 名稱
                            </div>
                            <div class="col-md-6">
                                電話 / 傳真
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                            <div class="col-md-6">
                                地址 (辦公室 / 運輸 / 發票)
                            </div>
                            <div class="col-md-6">
                                備註
                            </div>
                        </div>
                    </th>
                    <th>修改</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: branches">
                <tr>
                    <td style="width: 40%">
                        <div class="row-fluid">
                            <div class="col-md-6" style="padding: 0px 2px">
                                <div class="row-fluid">
                                    <div class="col-xs-4" style="padding: 0px">
                                        <label style="width: 100%; padding: 4px; margin: 0px"
                                               data-bind="text: name, visible: nameLock(), click: $parent.showModal"></label>
                                        <input class="form-control" size="5" placeholder="簡寫"
                                               data-bind="value: name, visible: !nameLock()">
                                    </div>
                                    <div class="col-xs-8" style="padding: 0px">
                                        <div class="input-group">
                                            <div class="input-group-addon">ID</div>
                                            <input class="form-control" size="6" maxlength="8" placeholder="tax id" data-bind="textInput: tax_id">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="fa fa-fw fa-lg fa-registered"></span>
                                    </div>
                                    <input class="form-control" placeholder="full name" style="width: 100%;" data-bind="textInput: fullname">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-globe fa-lg fa-fw"></span>
                                    </div>
                                    <input class="form-control" placeholder="english name" style="width: 100%;" data-bind="textInput: english_name">
                                </div>
                            </div>
                            <div class="col-md-6" style="padding: 0px 2px">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="fa fa-fw fa-lg fa-phone"></span>
                                    </div>
                                    <input class="form-control" placeholder="phone" style="width: 100%;" data-bind="textInput: phone">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="fa fa-fw fa-lg fa-fax"></span>
                                    </div>
                                    <input class="form-control" placeholder="fax" style="width: 100%;" data-bind="textInput: fax">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="width: 60%">
                        <div class="row-fluid">
                            <div class="col-md-7" style="padding: 0px 2px">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="fa fa-fw fa-lg fa-home"></span>
                                    </div>
                                    <input class="form-control" placeholder="office address" style="width: 100%;" data-bind="textInput: address_office">
                                </div>

                                <div class="input-group">
                                    <div class="input-group-addon"><span class="fa fa-fw fa-lg fa-truck"></span>
                                    </div>
                                    <input class="form-control" placeholder="shipping address" style="width: 100%;" data-bind="textInput: address_shipping">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="fa fa-fw fa-lg fa-money"></span>
                                    </div>
                                    <input class="form-control" placeholder="billing address" style="width: 100%;" data-bind="textInput: address_billing">
                                </div>
                            </div>
                            <div class="col-md-5" style="padding: 0px 2px">
                                <textarea class="form-control" rows="3" placeholder="note" style="width: 100%;" data-bind="textInput: note"></textarea>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical btn-group-sm">
                            <button class="btn btn-primary" data-bind="click: $parent.saveBranch, disable: saved"><span class="glyphicon glyphicon-save"></span>
                            </button>
                            <button class="btn btn-danger" data-bind="click: $parent.removeBranch, enable: saved"><span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="panel-footer lightorange-blend text-center">
        <button class="btn btn-lg darkgreen-blend" data-bind="click: addBranch">Add branch</button>
    </div>
</div>
<div data-bind="with: branchesVM">
    <div id="branch modal" class="modal" data-bind="style: {display: modalVisible() ? 'block' : 'none'}">
        <div class="panel panel-success" data-bind="with: currentBranch, event: {keypress: printDetails}">
            <div class="panel-body" style="padding: 30px">
                <div data-bind="text: name"></div>
            </div>
        </div>
    </div>
</div>
<script>
var viewModel = viewModel || {};
var co_name = viewModel.co_name = '<%= cogroup.name %>';
var _csrf = viewModel._csrf = '<%= _csrf %>';



function BranchesVM() {
    var self = this;
    // Make branchNames available to contactsVM for selection.
    self.branchNames = viewModel.branchNames = ko.observableArray();

    self.currentBranch = ko.observable();
    self.modalVisible = ko.observable(false);
    document.onkeydown = function(evt) {
        if (evt.keyCode == 27 && self.modalVisible()) {
            self.modalVisible(false);
        }
    };
    self.showModal = function(clickedItem) {
        //console.log(clickedItem.name());
        self.currentBranch(clickedItem);
        self.modalVisible(true);
    };
    self.printDetails = function(item) {
        console.log(item);
    };

    self.branches = ko.observableArray();
    self.addBranch = function() {
        var newBranch = new KO_Branch();
        newBranch.group(co_name);
        newBranch.nameLock(false);
        newBranch.saved(false);
        self.branches.push(newBranch);
    };
    self.removeBranch = function(branch) {
        var params = {
            _csrf: _csrf,
            co_name: co_name,
            name: branch.name
        };
        post('/branch/destroy', params, function(response) {
            if (response.status !== 400 && response.group === co_name) {
                branch.name(null);
                branch.saved(false);
                self.branches.remove(branch);
            } else {
                alert(JSON.stringify(response, null, '  '));
            }
        });
    };

    self.saveBranch = function(branch) {
        var params = {
            _csrf: _csrf,
            co_name: co_name,
            branch: branch
        };
        // XXX: Update or create? or just create.
        post('/database/save/branch', params, function(response) {
            if (response.status !== 400 && response.group === co_name) {
                branch.name(response.name);
                branch.saved(true);
                branch.nameLock(true);
            } else {
                alert(JSON.stringify(response, null, '  '));
            }
        });
    };

    self.getBranches = function () {
        var params = {
            _csrf: _csrf,
            id: co_name
        };
        post('/database/get/branches', params, function(response) {
            self.branches.removeAll();
            self.branchNames.removeAll();
            for (var i=0; i<response.length; i++) {
                self.branches.push(new KO_Branch(response[i]));
                self.branchNames.push(response[i].name);
            }
        });
    };

    self.getBranches();
}

viewModel.branchesVM = new BranchesVM();

</script>
