<!--
Panel for displaying products in an editable table.

Requires: "cogroup" object.
-->
<div id="products panel" class="panel panel-success" data-bind="with: productsVM">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="row">
                <div class="col-xs-6">
                    <h2><strong>產品 / 服務</strong></h2>
                </div>
                <div class="col-xs-6 text-right">
                    <button class="btn btn-custom btn-lg" data-bind="click: toggleVerbose, css: {active: verbose_product_info}">Show All Fields</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" style="padding: 0px">
        <table class="table table-condensed table-striped">
            <thead class="text-uppercase">
                <tr>
                    <th class="hidden-xs">順序</th>
                    <th>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-7">
                                        品名 (內用 / 客戶用)
                                    </div>
                                    <div class="col-sm-5">
                                        <abbr title="# of kg, L, gal per container">容量</abbr> -
                                        <abbr title="kg, L, gal, etc.">單位</abbr> /
                                        <abbr title="桶, 包, 瓶, 等...">容器</abbr>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        英文品名 / 包裝描述
                                    </div>
                                    <div class="col-sm-6">
                                        備註
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th>活性</th>
                    <th class="hidden-xs">修改</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: products">
                <tr data-bind="style: {'background-color': discontinued() ? 'pink' : null}">
                    <td class="hidden-xs" style="width: 80px">
                        <div class="btn-group btn-group-sm" data-bind="visible: locked()">
                            <button class="btn btn-custom" data-bind="click: $parent.productUpOne"><i class="glyphicon glyphicon-triangle-top"></i>
                            </button>
                            <button class="btn btn-custom" data-bind="click: $parent.productDownOne"><i class="glyphicon glyphicon-triangle-bottom"></i>
                            </button>
                        </div>
                    </td>
                    <!--        Product inventory name    -->
                    <td style="width: 80%">
                        <div class="row-fluid">
                            <div class="col-md-6" style="padding: 0px 2px">
                                <div class="row-fluid">
                                    <div class="col-sm-7" style="padding: 0px 2px">
                                        <div class="input-group">
                                            <div class="input-group-addon">內用</div>
                                            <input class="form-control" placeholder="內用" style="width: 100%;" data-bind="textInput: inventory_name">
                                        </div>
                                        <div class="input-group" data-bind="visible: $parent.verbose_product_info">
                                            <div class="input-group-addon">標籤</div>
                                            <input class="form-control" placeholder="標籤(選修的)" style="width: 100%;" data-bind="textInput: product_label">
                                        </div>
                                    </div>
                                    <div class="col-sm-5" style="padding: 0px 2px">
                                        <span data-bind="text: units, visible: locked()"></span>
                                        <input class="form-control" size="2" placeholder="#" data-bind="textInput: units, visible: !locked()">
                                        <span data-bind="text: UM, visible: locked()"></span>
                                        <input class="form-control" size="3" placeholder="kg, L, ..." data-bind="textInput: UM, visible: !locked()">/ <span data-bind="text: SKU, visible: locked()"></span>
                                        <input class="form-control" size="4" placeholder="槽車,桶,包,..." data-bind="textInput: SKU, visible: !locked()">
                                        <br>

                                        <div class="input-group" data-bind="visible: $parent.verbose_product_info">
                                            <div class="input-group-addon">
                                                <span data-bind="visible: unitpriced()">1 <span data-bind="text: UM"></span> = <span class="glyphicon glyphicon-usd"></span></span>
                                                <span data-bind="visible: !unitpriced()">1 <span data-bind="text: SKU"></span> = <span class="glyphicon glyphicon-usd"></span></span>
                                            </div>
                                            <input class="form-control" size="4" placeholder="目前價格" data-bind="textInput: curr_price">
                                        </div>
                                        <div data-bind="visible: !locked()">
                                            <label>
                                                <input type="radio" name="b" data-bind="checked: unitpriced, checkedValue: true">用<strong data-bind="text: UM"></strong>價格</label>
                                            <label>
                                                <input type="radio" name="b" data-bind="checked: unitpriced, checkedValue: false">用<strong data-bind="text: SKU"></strong>價格</label>
                                        </div>
                                        <div data-bind="visible: !locked()">
                                            <label>
                                                <input type="radio" name="c" data-bind="checked: unitcounted, checkedValue: true">用<strong data-bind="text: UM"></strong>件數</label>
                                            <label>
                                                <input type="radio" name="c" data-bind="checked: unitcounted, checkedValue: false">用<strong data-bind="text: SKU"></strong>件數</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding: 0px 2px">
                                <div class="row-fluid">
                                    <div class="col-sm-6" style="padding: 0px 2px">
                                        <div class="input-group" data-bind="visible: $parent.verbose_product_info">
                                            <div class="input-group-addon">英文</div>
                                            <input class="form-control" placeholder="英文品名" style="width: 100%;" data-bind="textInput: english_name">
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-addon">包裝</div>
                                            <input class="form-control" placeholder="包裝描述" style="width: 100%;" data-bind="textInput: SKUlong">
                                        </div>
                                    </div>
                                    <div class="col-sm-6" style="padding: 0px 2px">
                                        <input class="form-control" placeholder="note" style="width: 100%;" data-bind="textInput: note">
                                        <div class="input-group" data-bind="visible: $parent.verbose_product_info">
                                            <input class="form-control" placeholder="PN (ASE)" style="width: 50%;" data-bind="textInput: ASE_PN">
                                            <input class="form-control" placeholder="RT (ASE)" style="width: 50%;" data-bind="textInput: ASE_RT">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <!--        Product Manifest Availability    -->
                    <td style="width: 4%">
                        <button class="btn btn-custom btn-sm" data-bind="click: $parent.toggleActive, html: toggleMessage, visible: locked()"></button>
                        <div data-bind="visible: !locked()">
                            <label>
                                <input type="radio" name="a" data-bind="checked: is_supply, checkedValue: true">進貨</label>
                            <label>
                                <input type="radio" name="a" data-bind="checked: is_supply, checkedValue: false">出貨</label>
                        </div>
                    </td>

                    <td class="hidden-xs">
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-primary" data-bind="click: $parent.saveProduct, disable: saved"><span class="glyphicon glyphicon-save"></span>
                            </button>
                            <button class="btn btn-danger" data-bind="click: $parent.removeProduct, enable: saved"><span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer lightorange-blend text-center">
        <button class="btn btn-lg darkgreen-blend" data-bind="enable: productsAllSaved(), click: addProduct">Add product</button>
    </div>
</div>

<script>
var viewModel = viewModel || {};
var co_name = viewModel.co_name = '<%= cogroup.name %>';
var _csrf = viewModel._csrf = '<%= _csrf %>';

function ProductsVM() {
    var self = this;
    
    // Control summary/full display of product information.
    self.verbose_product_info = ko.observable(false);
    self.toggleVerbose = function() {
        self.verbose_product_info(!self.verbose_product_info());
    };
    
    self.products = ko.observableArray();
    self.productsAllSaved = ko.computed(function () {
        for (var i=0; i<self.products().length; i++) {
            if (self.products()[i].saved() === false) return false;
        }
        return true;
    });
    self.toggleActive = function(product) {
        product.discontinued(!product.discontinued());
        
        var index = self.products().indexOf(product);
        self.productsUpdate(self.products.slice(index, index+1));
    }
    self.addProduct = function() {
        var newProduct = new KO_Product();
        newProduct.group(co_name);
        newProduct.locked(false);
        newProduct.saved(false);
        newProduct.json().rank = self.products().length; // Set as last item.
        self.products.push(newProduct);
    };
    self.removeProduct= function(product) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                var response = JSON.parse(xmlhttp.response);
                console.log(typeof response, response);
                if (response.status !== 400 && response.group === co_name) {
                    product.MPN(null);
                    product.saved(false);
                    self.products.remove(product);
                } else {
                    alert(JSON.stringify(response, null, '  '));
                }
            }
        };
        xmlhttp.open('POST', '/product/destroy', true);
        xmlhttp.setRequestHeader('Content-type', 'application/json');
        xmlhttp.send(ko.toJSON({
            _csrf: _csrf, 
            co_name: co_name, 
            MPN: product.MPN
        }));
    };
    
    self.saveProduct = function(product) {
        console.log('SAVEPRODUCT', co_name, ko.toJSON(product));
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                var response = JSON.parse(xmlhttp.response);
                console.log(typeof response, response);
                if (response.status !== 400 && response.group === co_name) {
                    product.MPN(response.MPN);
                    product.saved(true);
                    product.locked(true);
                } else {
                    alert(JSON.stringify(response, null, '  '));
                }
            }
        };
        xmlhttp.open('POST', '/product/updateOrCreate', true);
        xmlhttp.setRequestHeader('Content-type', 'application/json');
        xmlhttp.send(ko.toJSON({
            _csrf: _csrf, 
            co_name: co_name, 
            product: product
        }));
    };
    
    self.productsGet = function () {
        params = {
            _csrf: _csrf, 
            id: co_name,
        };
        callback = function (products) {
            self.products.removeAll();
            for (var i=0; i<products.length; i++) {
                self.products.push(new KO_Product(products[i]));
            }
        };
        getProducts(params, callback);
    };
    
    self.productsGet();
    
    // Sort products by rank value (in json data).
    self.productsSort = function () {
        self.products.sort(function (a, b) {
            return a.json().rank - b.json().rank;
        });
    }
    
    self.productUpOne = function (prod) {
        var index = self.products().indexOf(prod);
        if (index > 0) {
            var temp = self.products()[index].json().rank;
            self.products()[index].json().rank = self.products()[index-1].json().rank;
            self.products()[index-1].json().rank = temp;
        }
        self.productsSort();
        self.productsUpdate(self.products.slice(index-1, index+1));
    };
    self.productDownOne = function (prod) {
        var index = self.products().indexOf(prod);
        if (index < self.products().length-1) {
            var temp = self.products()[index].json().rank;
            self.products()[index].json().rank = self.products()[index+1].json().rank;
            self.products()[index+1].json().rank = temp;
        }
        self.productsSort();
        self.productsUpdate(self.products.slice(index, index+2));
    };
    
    self.productsUpdate = function (prods) {
        // Verify product rank numbers and update all products if incorrect.
        for (var i=0; i<self.products().length; i++) {
            if (self.products()[i].json().rank !== i) {
                prods = self.products;
                self.products()[i].json().rank = i;
            }
        }
        
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState !== 4) return;
            
        };
        xmlhttp.open('POST', '/product/merge', true);
        xmlhttp.setRequestHeader('Content-type', 'application/json');
        xmlhttp.send(ko.toJSON({
            _csrf: _csrf, 
            id: co_name,
            products: prods
        }));
    };
}
    
viewModel.productsVM = new ProductsVM();
//viewModel.productsVM.verbose_product_info("false");

</script>