/* http://charliepark.org/bootstrap_buttons/ "ECHO darkened" */
.darkgreen-blend {
  background-color: hsl(110, 56%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#398f28", endColorstr="#193f11");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#398f28), to(#193f11));
  background-image: -moz-linear-gradient(top, #398f28, #193f11);
  background-image: -ms-linear-gradient(top, #398f28, #193f11);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #398f28), color-stop(100%, #193f11));
  background-image: -webkit-linear-gradient(top, #398f28, #193f11);
  background-image: -o-linear-gradient(top, #398f28, #193f11);
  background-image: linear-gradient(#398f28, #193f11);
  border-color: #193f11 #193f11 hsl(110, 56%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
/* http://charliepark.org/bootstrap_buttons/ "ECHO lightened" */
.lightgreen-blend {
  background-color: hsl(110, 41%, 75%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cee8c9", endColorstr="#add9a5");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cee8c9), to(#add9a5));
  background-image: -moz-linear-gradient(top, #cee8c9, #add9a5);
  background-image: -ms-linear-gradient(top, #cee8c9, #add9a5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cee8c9), color-stop(100%, #add9a5));
  background-image: -webkit-linear-gradient(top, #cee8c9, #add9a5);
  background-image: -o-linear-gradient(top, #cee8c9, #add9a5);
  background-image: linear-gradient(#cee8c9, #add9a5);
  border-color: #add9a5 #add9a5 hsl(110, 41%, 72.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.16);
  -webkit-font-smoothing: antialiased;
}
/* http://charliepark.org/bootstrap_buttons/ "BRAVO darkened" */
.darkorange-blend {
  background-color: hsl(36, 100%, 28%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f49200", endColorstr="#8e5500");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f49200), to(#8e5500));
  background-image: -moz-linear-gradient(top, #f49200, #8e5500);
  background-image: -ms-linear-gradient(top, #f49200, #8e5500);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f49200), color-stop(100%, #8e5500));
  background-image: -webkit-linear-gradient(top, #f49200, #8e5500);
  background-image: -o-linear-gradient(top, #f49200, #8e5500);
  background-image: linear-gradient(#f49200, #8e5500);
  border-color: #8e5500 #8e5500 hsl(36, 100%, 23%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
/* http://charliepark.org/bootstrap_buttons/ "BRAVO lightened" */
.lightorange-blend {
  background-color: hsl(36, 100%, 76%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fedead", endColorstr="#ffce84");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fedead), to(#ffce84));
  background-image: -moz-linear-gradient(top, #fedead, #ffce84);
  background-image: -ms-linear-gradient(top, #fedead, #ffce84);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fedead), color-stop(100%, #ffce84));
  background-image: -webkit-linear-gradient(top, #fedead, #ffce84);
  background-image: -o-linear-gradient(top, #fedead, #ffce84);
  background-image: linear-gradient(#fedead, #ffce84);
  border-color: #ffce84 #ffce84 hsl(36, 100%, 74%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
  -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,"新細明體", "PMingLiU";
    font-size: 18px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.jumbotron {
    text-align: center;
}

.jumbotron h2 {
    font-size: 1.5em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: cyan;
}

/*
.container .gray {
    color: gray;
}

.container .footer {
    width: 25%;
}
*/

.form-signin {
    border: 2px solid;
    padding: 0px 29px 10px;
    width: 400px;
    background-color: rgb(255, 242, 199);
    border-color: rgb(0, 102, 0);
    margin: 0 auto 20px;
    margin-top: 20px;
        text-align: center;
    border-radius: 15px;
}

.form-signin input {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.branch-edit {
    border: 2px solid;
    padding: 0px 29px 10px;
    width: 100%;
    background-color: rgb(255, 242, 199);
    border-color: rgb(0, 102, 0);
/*    margin: 0 auto 20px;*/
    margin-top: 20px;
        text-align: center;
    border-radius: 15px;
}

.branch-edit .col-md-2 {
    line-height: 220%;
    vertical-align: middle;
    font-weight: 700;
    font-size: 16px;
}

.branch-edit input {
    font-size: 16px;
    height: auto;
    margin-bottom: 2px;
    padding: 7px 9px;
}


table {
    font-weight: 700;
    font-size: 16px;
}

.table {
    margin: 0px;
}

/*
table {
  border-collapse:collapse;
    width: 80%;
    margin-top: 20px;
    border-radius: 15px;
}
*/

nav {
    font-size: 24px;
}

nav ul li:hover > ul {
    display: block;
}

/*
th {
  color:rgb(255, 230, 140);
  background-color: hsl(110, 56%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#398f28", endColorstr="#193f11");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#398f28), to(#193f11));
  background-image: -moz-linear-gradient(top, #398f28, #193f11);
  background-image: -ms-linear-gradient(top, #398f28, #193f11);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #398f28), color-stop(100%, #193f11));
  background-image: -webkit-linear-gradient(top, #398f28, #193f11);
  background-image: -o-linear-gradient(top, #398f28, #193f11);
  background-image: linear-gradient(#398f28, #193f11);
  border-color: #193f11 #193f11 hsl(110, 56%, 11%);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

tr .:nth-child(even) {
    background-color: rgb(255, 248, 225);
}
tr:nth-child(odd) {
    background-color: rgb(255, 250, 246);
}
*/

.table-striped>thead>tr>th {
  color:rgb(255, 230, 140);
  background-color: hsl(110, 56%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#398f28", endColorstr="#193f11");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#398f28), to(#193f11));
  background-image: -moz-linear-gradient(top, #398f28, #193f11);
  background-image: -ms-linear-gradient(top, #398f28, #193f11);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #398f28), color-stop(100%, #193f11));
  background-image: -webkit-linear-gradient(top, #398f28, #193f11);
  background-image: -o-linear-gradient(top, #398f28, #193f11);
  background-image: linear-gradient(#398f28, #193f11);
  border-color: #193f11 #193f11 hsl(110, 56%, 11%);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
.table-striped>tbody>tr:nth-child(odd)>td {
   background-color: rgb(255, 245, 211);
}
.table-striped>tbody>tr:nth-child(even)>td {
   background-color: rgb(210, 232, 212);
}



/*
tbody tr:hover{
  background-color: hsl(36, 100%, 73%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff8ef", endColorstr="#ffc775");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fff8ef), to(#ffc775));
  background-image: -moz-linear-gradient(top, #fff8ef, #ffc775);
  background-image: -ms-linear-gradient(top, #fff8ef, #ffc775);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff8ef), color-stop(100%, #ffc775));
  background-image: -webkit-linear-gradient(top, #fff8ef, #ffc775);
  background-image: -o-linear-gradient(top, #fff8ef, #ffc775);
  background-image: linear-gradient(#fff8ef, #ffc775);
  border-color: #ffc775 #ffc775 hsl(36, 100%, 67%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.39);
  -webkit-font-smoothing: antialiased;
}
*/

/*http://coolestguidesontheplanet.com/styling-placeholder-text-input-fields-forms-css/*/
::-webkit-input-placeholder {
 font-size: 14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
:-moz-placeholder { /* older Firefox*/
 font-size:14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 14px;
 color: #d0cdfa; 
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
} 
:-ms-input-placeholder { 
 font-size: 14px; 
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}

.btn-default {
    border-color: hsl(30, 100%, 60%); 
    background-color: hsl(30, 100%, 60%);
}
.btn-default:hover {
    border-color: rgb(255, 128, 0); 
    background-color: rgb(255, 128, 0);
}


.navbar-default {
    background-color: rgb(187, 216, 187);
    border-color: black;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
      font-weight: 700;
      color: #262626;
      background-color: rgb(255, 230, 140);
      /*change color of links in drop down here*/
}

.navbar-default .navbar-nav > li > a {
       font-weight: 700;
  color: rgb(0, 102, 0);
  /*Change active text color here*/
}
.navbar-default .navbar-nav > li > a:hover {
       font-weight: 700;
  color: black;
  /*Change active text color here*/
}

.btn-custom {
  background-color: #f99500 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdca8", endColorstr="#f99500");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffdca8), to(#f99500));
  background-image: -moz-linear-gradient(top, #ffdca8, #f99500);
  background-image: -ms-linear-gradient(top, #ffdca8, #f99500);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdca8), color-stop(100%, #f99500));
  background-image: -webkit-linear-gradient(top, #ffdca8, #f99500);
  background-image: -o-linear-gradient(top, #ffdca8, #f99500);
  background-image: linear-gradient(#ffdca8, #f99500);
  border-color: #f99500 #f99500 hsl(36, 100%, 40.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.56);
  -webkit-font-smoothing: antialiased;
}

.btn-custom:hover {
  background-color: hsl(36, 100%, 37%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc36b", endColorstr="#bc7100");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffc36b), to(#bc7100));
  background-image: -moz-linear-gradient(top, #ffc36b, #bc7100);
  background-image: -ms-linear-gradient(top, #ffc36b, #bc7100);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc36b), color-stop(100%, #bc7100));
  background-image: -webkit-linear-gradient(top, #ffc36b, #bc7100);
  background-image: -o-linear-gradient(top, #ffc36b, #bc7100);
  background-image: linear-gradient(#ffc36b, #bc7100);
  border-color: #bc7100 #bc7100 hsl(36, 100%, 28.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.56);
  -webkit-font-smoothing: antialiased;
}

.btn-success {
  background-color: hsl(110, 56%, 31%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#53c83c", endColorstr="#317b22");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#53c83c), to(#317b22));
  background-image: -moz-linear-gradient(top, #53c83c, #317b22);
  background-image: -ms-linear-gradient(top, #53c83c, #317b22);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #53c83c), color-stop(100%, #317b22));
  background-image: -webkit-linear-gradient(top, #53c83c, #317b22);
  background-image: -o-linear-gradient(top, #53c83c, #317b22);
  background-image: linear-gradient(#53c83c, #317b22);
  border-color: #317b22 #317b22 hsl(110, 56%, 26%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-success:hover {
  background-color: hsl(110, 56%, 28%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c972a", endColorstr="#2c6f1f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3c972a), to(#2c6f1f));
  background-image: -moz-linear-gradient(top, #3c972a, #2c6f1f);
  background-image: -ms-linear-gradient(top, #3c972a, #2c6f1f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c972a), color-stop(100%, #2c6f1f));
  background-image: -webkit-linear-gradient(top, #3c972a, #2c6f1f);
  background-image: -o-linear-gradient(top, #3c972a, #2c6f1f);
  background-image: linear-gradient(#3c972a, #2c6f1f);
  border-color: #2c6f1f #2c6f1f hsl(110, 56%, 25.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

.label-as-badge {
    border-radius: 1em;
}

.label-warning {
    background-color: #ffd698;
    color: rgb(37, 109, 22);
}

.badge {
    background-color: #ffd698;
    color: rgb(37, 109, 22);
}

.glyphicon-none:before {
    content: ".-";
    color: transparent !important;
}


hr {
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,.1), rgba(44, 111, 31, 0.8), rgba(0,0,0,.1)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,.1), rgba(44, 111, 31, 0.8), rgba(0,0,0,.1)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,.1), rgba(44, 111, 31, 0.8), rgba(0,0,0,.1)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,.1), rgba(44, 111, 31, 0.8), rgba(0,0,0,.1)); 
}

/*
.input-30 {
    font-size: 30px;
}
.input-24 {
    font-size: 24px;
}
*/

/*
.form-group-lg {
    font-size: 20px;
}
*/


.form-control, .input-group-addon {
    padding: 2px;
    font-size: 16px;
    height: 28px;
/*    font-weight: bold;*/
}


.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}


.modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    
}

.modal > .panel {
    margin: 6%;
}

#tab.active > a {
    background-color: #8aff8a;
}

#tab > a {
    background-color: #c9c9c9;
}