

/*
.chart rect {
  fill: steelblue;
}
*/

g text {
/*
  fill: white;
*/
  font: 12px sans-serif;
/*  text-anchor: end;*/
}

g text:first-child {
/*
  fill: white;
*/
  font: 12px sans-serif;
/*  text-anchor: end;*/
}

g rect {
  fill-opacity: .7;
  fill: rgb(227, 119, 194);
}

g:first-child > rect {
  fill: rgb(31, 119, 180);
}

g:nth-child(3) > rect {
  fill: rgb(31, 180, 37);
}

.panel-body ul {
    list-style-type: none;
}

.input-group:hover > span {
    background: lightyellow;
}
