/* http://charliepark.org/bootstrap_buttons/ "ECHO darkened" */
.darkgreen-blend {
  background-color: hsl(110, 56%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#398f28", endColorstr="#193f11");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#398f28), to(#193f11));
  background-image: -moz-linear-gradient(top, #398f28, #193f11);
  background-image: -ms-linear-gradient(top, #398f28, #193f11);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #398f28), color-stop(100%, #193f11));
  background-image: -webkit-linear-gradient(top, #398f28, #193f11);
  background-image: -o-linear-gradient(top, #398f28, #193f11);
  background-image: linear-gradient(#398f28, #193f11);
  border-color: #193f11 #193f11 hsl(110, 56%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
/* http://charliepark.org/bootstrap_buttons/ "ECHO lightened" */
.lightgreen-blend {
  background-color: hsl(110, 41%, 75%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cee8c9", endColorstr="#add9a5");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cee8c9), to(#add9a5));
  background-image: -moz-linear-gradient(top, #cee8c9, #add9a5);
  background-image: -ms-linear-gradient(top, #cee8c9, #add9a5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cee8c9), color-stop(100%, #add9a5));
  background-image: -webkit-linear-gradient(top, #cee8c9, #add9a5);
  background-image: -o-linear-gradient(top, #cee8c9, #add9a5);
  background-image: linear-gradient(#cee8c9, #add9a5);
  border-color: #add9a5 #add9a5 hsl(110, 41%, 72.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.16);
  -webkit-font-smoothing: antialiased;
}
/* http://charliepark.org/bootstrap_buttons/ "BRAVO darkened" */
.darkorange-blend {
  background-color: hsl(36, 100%, 28%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f49200", endColorstr="#8e5500");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f49200), to(#8e5500));
  background-image: -moz-linear-gradient(top, #f49200, #8e5500);
  background-image: -ms-linear-gradient(top, #f49200, #8e5500);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f49200), color-stop(100%, #8e5500));
  background-image: -webkit-linear-gradient(top, #f49200, #8e5500);
  background-image: -o-linear-gradient(top, #f49200, #8e5500);
  background-image: linear-gradient(#f49200, #8e5500);
  border-color: #8e5500 #8e5500 hsl(36, 100%, 23%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
/* http://charliepark.org/bootstrap_buttons/ "BRAVO lightened" */
.lightorange-blend {
  background-color: hsl(36, 100%, 76%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fedead", endColorstr="#ffce84");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fedead), to(#ffce84));
  background-image: -moz-linear-gradient(top, #fedead, #ffce84);
  background-image: -ms-linear-gradient(top, #fedead, #ffce84);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fedead), color-stop(100%, #ffce84));
  background-image: -webkit-linear-gradient(top, #fedead, #ffce84);
  background-image: -o-linear-gradient(top, #fedead, #ffce84);
  background-image: linear-gradient(#fedead, #ffce84);
  border-color: #ffce84 #ffce84 hsl(36, 100%, 74%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
  -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,"新細明體", "PMingLiU";
    font-size: 14px;
}



table {
    font-weight: 700;
    font-size: 16px;
}

.table {
    margin: 0px;
}



.table-striped>thead>tr>th {
  color:rgb(255, 230, 140);
  background-color: hsl(110, 56%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#398f28", endColorstr="#193f11");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#398f28), to(#193f11));
  background-image: -moz-linear-gradient(top, #398f28, #193f11);
  background-image: -ms-linear-gradient(top, #398f28, #193f11);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #398f28), color-stop(100%, #193f11));
  background-image: -webkit-linear-gradient(top, #398f28, #193f11);
  background-image: -o-linear-gradient(top, #398f28, #193f11);
  background-image: linear-gradient(#398f28, #193f11);
  border-color: #193f11 #193f11 hsl(110, 56%, 11%);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
.table-striped>tbody>tr:nth-child(odd)>td {
   background-color: rgb(255, 245, 211);
}
.table-striped>tbody>tr:nth-child(even)>td {
   background-color: rgb(210, 232, 212);
}


/*http://coolestguidesontheplanet.com/styling-placeholder-text-input-fields-forms-css/*/
::-webkit-input-placeholder {
 font-size: 14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
:-moz-placeholder { /* older Firefox*/
 font-size:14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
 font-size: 14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
:-ms-input-placeholder {
 font-size: 14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}

/*
.btn-default {
    border-color: hsl(30, 100%, 60%);
    background-color: hsl(30, 100%, 60%);
}
.btn-default:hover {
    border-color: rgb(255, 128, 0);
    background-color: rgb(255, 128, 0);
}
*/

/*See Bootstrap modal for other styling*/
.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;

}

.modal > .panel {
    margin: 4%;
}

.badge {
    background-color: #ffd698;
    color: rgb(40, 116, 24);
}


.btn-custom {
  background-color: #f99500 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdca8", endColorstr="#f99500");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffdca8), to(#f99500));
  background-image: -moz-linear-gradient(top, #ffdca8, #f99500);
  background-image: -ms-linear-gradient(top, #ffdca8, #f99500);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdca8), color-stop(100%, #f99500));
  background-image: -webkit-linear-gradient(top, #ffdca8, #f99500);
  background-image: -o-linear-gradient(top, #ffdca8, #f99500);
  background-image: linear-gradient(#ffdca8, #f99500);
  border-color: #f99500 #f99500 hsl(36, 100%, 40.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.56);
  -webkit-font-smoothing: antialiased;
}

.btn-custom:hover {
  background-color: hsl(36, 100%, 37%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc36b", endColorstr="#bc7100");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffc36b), to(#bc7100));
  background-image: -moz-linear-gradient(top, #ffc36b, #bc7100);
  background-image: -ms-linear-gradient(top, #ffc36b, #bc7100);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc36b), color-stop(100%, #bc7100));
  background-image: -webkit-linear-gradient(top, #ffc36b, #bc7100);
  background-image: -o-linear-gradient(top, #ffc36b, #bc7100);
  background-image: linear-gradient(#ffc36b, #bc7100);
  border-color: #bc7100 #bc7100 hsl(36, 100%, 28.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.56);
  -webkit-font-smoothing: antialiased;
}

.btn-success {
  background-color: hsl(110, 56%, 31%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#53c83c", endColorstr="#317b22");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#53c83c), to(#317b22));
  background-image: -moz-linear-gradient(top, #53c83c, #317b22);
  background-image: -ms-linear-gradient(top, #53c83c, #317b22);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #53c83c), color-stop(100%, #317b22));
  background-image: -webkit-linear-gradient(top, #53c83c, #317b22);
  background-image: -o-linear-gradient(top, #53c83c, #317b22);
  background-image: linear-gradient(#53c83c, #317b22);
  border-color: #317b22 #317b22 hsl(110, 56%, 26%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-success:hover {
  background-color: hsl(110, 56%, 28%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c972a", endColorstr="#2c6f1f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3c972a), to(#2c6f1f));
  background-image: -moz-linear-gradient(top, #3c972a, #2c6f1f);
  background-image: -ms-linear-gradient(top, #3c972a, #2c6f1f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c972a), color-stop(100%, #2c6f1f));
  background-image: -webkit-linear-gradient(top, #3c972a, #2c6f1f);
  background-image: -o-linear-gradient(top, #3c972a, #2c6f1f);
  background-image: linear-gradient(#3c972a, #2c6f1f);
  border-color: #2c6f1f #2c6f1f hsl(110, 56%, 25.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

/*
.label-as-badge {
    border-radius: 1em;
}

.label-warning {
    background-color: #ffd698;
    color: rgb(37, 109, 22);
}

.badge {
    background-color: #ffd698;
    color: rgb(37, 109, 22);
}
*/


hr {
    border: 0;
    height: 4px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,.1), rgba(44, 111, 31, 0.8), rgba(0,0,0,.1));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,.1), rgba(44, 111, 31, 0.8), rgba(0,0,0,.1));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,.1), rgba(44, 111, 31, 0.8), rgba(0,0,0,.1));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,.1), rgba(44, 111, 31, 0.8), rgba(0,0,0,.1));
}

.btn.sharp {
    border-radius: 0px;
}


#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
/*  left: 250px;*/
  width: 52px;
  height: 100%;
/*  margin-left: -250px;*/
  overflow-y: auto;
  background: #DFF0D8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  background-color: hsl(110, 56%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#398f28", endColorstr="#193f11");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#398f28), to(#193f11));
  background-image: -moz-linear-gradient(top, #398f28, #193f11);
  background-image: -ms-linear-gradient(top, #398f28, #193f11);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #398f28), color-stop(100%, #193f11));
  background-image: -webkit-linear-gradient(top, #398f28, #193f11);
  background-image: -o-linear-gradient(top, #398f28, #193f11);
  background-image: linear-gradient(#398f28, #193f11);
  border-color: #193f11 #193f11 hsl(110, 56%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
    padding-left: 52px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 985px) {

    #sidebar-wrapper {
      width: 250px;
    }

    #page-content-wrapper {
        padding-left: 250px;
    }
}

.checkbox-lg {
    margin: 0px !important;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.highlight-row > td {
    background-color: blue
}
