<div class="panel panel-success" style="height: 100%; margin: 0px" data-bind="with: AnalysisVM">
    <div class="panel-heading">
        <div class="panel-title">
            <h2><strong>Analysis</strong></h2>
        </div>
    </div>
    <div class="panel-body">


    </div>
    <div class="panel-footer lightorange-blend text-center" style="position: relative; bottom: 0px">


    </div>
</div>
<script>
    var viewModel = viewModel || {};

    function AnalysisVM() {
        var self = this;


    }

    viewModel.AnalysisVM = new AnalysisVM();
</script>
