<div class="container-fluid" data-bind="with: HomepageVM">
    <div class="jumbotron text-center">
        <h1>Taimau Database</h1><h3>台茂資料庫</h3>


        <div class="row text-center">
            <select data-bind="options: pinyin_list, optionsText: 'pinyin', value: selected_company, optionsCaption: '<< PINYIN >>'">

            </select>
        </div>
        <div class="row text-center">
            <div class="btn-group"
                 data-bind="visible: company_list().length > 0, foreach: company_list">
                <button type="button" style="font-size: 20px" class="btn btn-custom btn-lg sharp"
                        data-bind="click: $parent.loadCompany">
                    <strong data-bind="text: name"></strong>
                </button>
            </div>
            <div class="" data-bind="visible: company_list().length == 0">
                <i class="fa fa-spinner fa-pulse"></i> 加載公司名錄
            </div>
        </div>
    </div>
</div>


<script>
var viewModel = viewModel || {};


function HomepageVM() {
    'use strict';
    var self = this;

    self.pinyin_list = ko.observableArray();
    self.selected_company = ko.observable();

    self.company_list = ko.observableArray([]);

    // Get from 'co_list' cookie if exists else AJAJ and set cookie
//        var cookieStr = document.cookie;
//        var cl_index = cookieStr.indexOf('co_list');
//        if (cl_index >= 0) {
//            var res = JSON.parse(cookieStr.substring(cl_index+8));
//            // Show first few items
//            self.company_list.removeAll();
//            res.forEach(function(name) {
//                self.company_list.push({'name':name});
//            });
//            // Use lines below to delete 'co_list' cookie
////                var d = new Date();
////                document.cookie=['co_list=', 'expires='+d.toUTCString(), 'path=/'].join('; ');
//        } else {
        // AJAJ request for company list
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState !== 4) return;
            // Save list as 'co_list' cookie that expires in 24 hours
//                var d = new Date();
//                d.setTime(d.getTime() + 24*60*60*1000);
//                var c_data = 'co_list=' + xmlhttp.response.replace(/[\n\r/ ]/g, '');
//                var expires = 'expires=' + d.toUTCString();
//                document.cookie=[c_data, expires, 'path=/'].join('; ');

            var res = JSON.parse(xmlhttp.response);
            // Show first few items
            self.company_list.removeAll();
            res.forEach(function(name) {
                self.company_list.push({'name':name});
            });
        };
        xmlhttp.open('GET', '/cogroup/namelist', true);
        xmlhttp.send();

        var xmlhttp2 = new XMLHttpRequest();
        xmlhttp2.onreadystatechange = function () {
            if (xmlhttp2.readyState !== 4) return;
            // Save list as 'co_list' cookie that expires in 24 hours
//                var d = new Date();
//                d.setTime(d.getTime() + 24*60*60*1000);
//                var c_data = 'co_list=' + xmlhttp2.response.replace(/[\n\r/ ]/g, '');
//                var expires = 'expires=' + d.toUTCString();
//                document.cookie=[c_data, expires, 'path=/'].join('; ');

            var res = JSON.parse(xmlhttp2.response);
            // Show first few items
            self.pinyin_list.removeAll();
            res.forEach(function(cogroup) {
                self.pinyin_list.push(cogroup);
            });
        };
        xmlhttp2.open('GET', '/cogroup/namepinyinlist', true);
        xmlhttp2.send();
//        }

    self.loadCompany = function (branch) {
        window.location = '/shipment/showall/' + branch.name;
    };

    // Listen for pinyin list selection.
    // 'OptionsCaption' prevents this from running during load.
    ko.computed(function () {
        if (self.selected_company()) self.loadCompany(self.selected_company());
    })
}



viewModel.HomepageVM = new HomepageVM();
</script>
