<!--List view of all shipments-->
<div id="this body" class='container-fluid'>
<!--vvv START: Company header and buttons vvv-->
<%- partial ('../company_header.ejs') %>
<!--^^^ END: Company header and buttons ^^^-->
<hr>
<!--START: List view of shipments-->
<div data-bind="with: pageVM">
<div>
        <div class="panel panel-success" style="margin: 0px">
            <div class="panel-heading" style="padding: 0px">
                <div class="row">
                    <div class="col-md-4">
                        <span class="h4" style="margin: 0px">Shipments</span>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon">紀錄數量</div>
                            <input class="form-control" type="number" data-bind="textInput: recordLimit">
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="panel-body" style="padding: 0px">
                <table class="table table-striped">
                    <thead>
                        <th>Order ID</th>
                        <th>Shipment ID</th>
                        <th>QTY</th>
                        <th>容器</th>
                        <th>Date</th>
                    </thead>
                    <tbody data-bind="foreach: shipmentsItems">
                        <tr>
                            <td><span data-bind="text: order_id"></span></td>
                            <td><span data-bind="text: shipment"></span>-<span data-bind="text: shipment_no"></span></td>
                            <td><span data-bind="text: qty"></span></td>
                            <td><span data-bind="text: shipment"></span></td>
                            <td><span data-bind="text: duedate"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

</div>
</div>
    
<!--END: List view of shipments-->
</div><!--END: container-fluid-->


<script>
var cogroup = <%- JSON.stringify(cogroup) %>;
var co_name = '<%= cogroup.name %>';
addCompanyNavButtons(co_name);
var _csrf = '<%= _csrf %>';
    
function PageModel() {
    var self = this;
    
    self.recordLimit = ko.observable(40);
    
    /**
     * SHIPMENT methods
     */
    self.shipments = ko.observableArray();
    self.shipmentsItems = ko.observableArray();
    self.shipmentsGet = function () {
        params = {
            _csrf: _csrf, 
            id: co_name,
            limit: self.recordLimit(),
        };
        callback = function (shipments) {
//            alert(JSON.stringify(shipments, null, '   '));
            self.shipments.removeAll();
            self.shipmentsItems.removeAll();
            for (var i=0; i<shipments.length; i++) {
                if (!shipments[i].discontinued) {
                    self.shipments.push(new KO_Shipment(shipments[i]));
                    for (var j=0; j<shipments[i].items.length; j++) {
                        self.shipmentsItems.push(new KO_ShipmentItem(shipments[i].items[j]));
                    }
                }
            }
        };
        getShipments(params, callback);
    };
    self.shipmentsGet();
    
    ko.computed(function () {
        var val = Number(self.recordLimit());
        if (isNaN(val)) return;
        else self.shipmentsGet();
    });
    
    
    
    var getShipmentsProcess = function () {
        post(
            '/database/get/shipments', 
            {
                _csrf: _csrf, 
            }, 
            function (res_records) {
                
            }
        );
    };
    getShipmentsProcess()
}

viewModel.pageVM = new PageModel();
ko.applyBindings(viewModel, document.getElementById('this body'));
</script>