<!--List view of all shipments-->
<div class='container-fluid'>
<!--vvv START: Company header and buttons vvv-->
<%- partial ('../company_header.ejs') %>
<!--^^^ END: Company header and buttons ^^^-->
<hr>
<!--START: List view of shipments-->
<div style="list-style-type:none" data-bind="foreach: shipments">
        <div class="panel panel-success">
            <div class="panel-heading" style="padding: 0px" data-bind="click: toggleDisplay">
                <span class="h4" style="margin: 0px" data-bind="text: shipmentdate"></span>
                <span class="h4" style="margin: 0px" data-bind="text: shipment_no"></span>
            </div>
            <div class="panel-body" style="padding: 0px" data-bind="visible: displayItems">
                <table>
                    <thead>
                        <th>ORDER</th>
                        <th>QTY</th>
                    </thead>
                    <tbody data-bind="foreach: items">
                        <tr>
                            <td><span data-bind="text: order_id"></span></td>
                            <td><span data-bind="text: qty"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

</div>

    
<!--END: List view of shipments-->
</div><!--END: container-fluid-->


<script>
var cogroup = <%- JSON.stringify(cogroup) %>;
var co_name = '<%= cogroup.name %>';
addCompanyNavButtons(co_name);
var _csrf = '<%= _csrf %>';
    
function PageModel() {
    var self = this;
    
    /**
     * COGROUP section controls
     * 
     * 
     */
    self.cogroup = new KO_Cogroup(cogroup);
    
    self.supplierStatus = ko.computed(function () {
        return self.cogroup.is_supplier() === true ? "glyphicon glyphicon-ok btn btn-success" : "glyphicon glyphicon-remove btn btn-danger";
    });
    
    self.customerStatus = ko.computed(function () {
        return self.cogroup.is_customer() === true ? "glyphicon glyphicon-ok btn btn-success" : "glyphicon glyphicon-remove btn btn-danger";
    });
    
    self.toggleCustomer = function () {
        self.cogroup.is_customer(!self.cogroup.is_customer());
        self.cogroupUpdate();
    };
    self.toggleSupplier = function () {
        self.cogroup.is_supplier(!self.cogroup.is_supplier());
        self.cogroupUpdate();
    };
                
    self.cogroupUpdate = function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState !== 4) return;
            
        };
        xmlhttp.open('POST', '/cogroup/update', true);
        xmlhttp.setRequestHeader('Content-type', 'application/json');
        xmlhttp.send(ko.toJSON({
            _csrf: _csrf, 
            cogroup_update: self.cogroup
        }));
    };
    
    
    /**
     * SHIPMENT methods
     * 
     * 
     */
    self.shipments = ko.observableArray();
    self.shipmentsGet = function () {
        params = {
            _csrf: _csrf, 
            id: co_name,
            limit: 10,
        };
        callback = function (shipments) {
//            alert(JSON.stringify(shipments, null, '   '));
            self.shipments.removeAll();
            for (var i=0; i<shipments.length; i++) {
                if (!shipments[i].discontinued) {
                    self.shipments.push(new KO_Shipment(shipments[i]));
                }
            }
        };
        getShipments(params, callback);
    };
    self.shipmentsGet();
    
    
    
    
    var getShipmentsProcess = function () {
        getTemplate(
            '/database/get/shipments', 
            {
                _csrf: _csrf, 
            }, 
            function (res_records) {
                
            }
        );
    };
    getShipmentsProcess()
}

ko.applyBindings(new PageModel());
</script>